.button {
  display: block;
  max-width: 243px;
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  font-family: $ff-brinnan;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin: 36px auto;

  @screen md {
    margin-left: 0;
    margin-right: 0;
  }

  &:hover {
    // background-color: #0b1b30c2;
    filter: brightness(1.2);
  }

  &--blue {
    border-color: $dark-blue;
    background-color: $dark-blue;
  }

  &--green {
    border-color: $aging-green;
    background-color: $aging-green;
  }

  &--orange {
    border-color: $posh-orange;
    background-color: $posh-orange;
  }

  &--beige {
    border-color: $pinkish-beige;
    background-color: $pinkish-beige;
    color: $dark-blue;

    &.button--pdf {
      > span::after {
        content: url("../svg/pdf-blue.svg");
      }
    }
  }

  &--pdf {
    > span::after {
      content: url("../svg/pdf.svg");
      margin-left: 0.3em;
    }
  }
}

.balance-is-a-lifestyle {
  font-family: $ff-addington;
  font-size: 2rem;
  color: white;

  span:first-of-type {
    display: block;
    margin-bottom: -0.9em;
    font-family: $ff-winkell;
    text-transform: uppercase;
    color: $light-blue;
  }

  span:last-of-type {
    font-size: 1.5em;
  }
}

.next-section {
  position: absolute;
  bottom: 36px;
  left: 50%;
  width: 18px;
  transform: translate(-50%);
}
