footer {
  padding: $xs-v-spacing $xs-h-spacing;
  position: relative;
  color: white;
  border-top: 1px solid $logo-gray;

  @screen lg {
    padding: $lg-v-spacing $header-h-spacing $header-h-spacing;
  }

  .logo {
    position: absolute;
    // padding: inherit;
    top: $xs-v-spacing;
    right: $xs-h-spacing;
    width: 3rem;

    @screen lg {
      width: 52.7833px;
      top: 1rem;
      right: 48px;
    }
  }

  .container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    @screen lg {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  nav ul {
    font-family: $ff-winkell;

    li {
      margin-bottom: 1rem;
    }

    a {
      position: relative;

      &::after {
        content: "";
        background: none repeat scroll 0 0 transparent;
        bottom: -6px;
        display: block;
        height: 2px;
        position: absolute;
        background: $logo-gray;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .social {
    // TODO: display after links are available
    // display: flex;
    display: none;
    justify-content: space-around;
    margin-bottom: 1rem;

    @screen lg {
      justify-content: flex-start;
    }

    img {
      max-height: 3em;
    }
  }

  address {
    font-family: $ff-brinnan-light;
    font-style: normal;
  }

  .balance-is-a-lifestyle {
    display: none;
    flex-shrink: 1;

    @screen lg {
      display: block;
      font-size: 1.5rem;
      white-space: nowrap;
      text-align: center;

      > span {
        display: inline !important;
      }
    }
  }

  .brand-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @screen lg {
      flex-direction: row-reverse;
      // align-items: flex-end;

      > * {
        align-items: stretch;
        flex: 1 auto;
        max-width: 100%;
        flex-shrink: 0;

        * {
          margin: 0 auto;
        }
      }
    }
  }

  .scale-brand {
    img {
      height: 1.75rem;
      width: auto;

      @screen md {
        margin: 0;
        margin-left: auto;
      }
    }
  }

  .fifth-ave-brand {
    max-width: 120px;
  }

  #privacy-policy-link {
    text-decoration: underline;
    display: inline;
    margin-left: 0.5em;
    text-align: center;
  }

  #privacy-policy-link,
  #copyright {
    font-family: $ff-brinnan-light;
    font-size: var(--fs-0);
    color: white;
    text-align: center;
  }
}
