header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: $header-height;
  display: flex;
  columns: 2;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid $logo-gray;
  transition: background-color 0.2s ease;

  #brand-link {
    max-width: 486px;
    height: 100%;
    padding: $xs-h-spacing;
    display: flex;
    align-items: center;

    @screen lg {
      padding-left: 45px;
    }

    img {
      max-height: 1.5em;
    }
  }

  #menu-toggler {
    width: 50px;
    height: 100%;
    margin-right: $xs-h-spacing;
    padding: $xs-v-spacing $xs-h-spacing;
    border-left: 1px solid $logo-gray;

    @screen md {
      display: none;
    }

    .tham-inner {
      background-color: $logo-gray;
    }
  }

  #menu {
    flex-basis: 100%;
    flex-direction: row;
    display: none;
    color: $logo-gray;
    line-height: 2em;
    border-top: 1px solid $logo-gray;
    background-color: $dark-blue;
    font-family: $ff-winkell;
    font-size: 0.8em;

    position: absolute;
    top: 135px;
    right: 0;
    border: 1px solid $logo-gray;
    border-top: none;

    @screen md {
      display: block;
      height: 100%;
      background: none;
      border: none;
      border-left: 1px solid $logo-gray;

      position: static;
    }

    &.is-active {
      display: block;
    }

    ul {
      height: 100%;
      padding: $xs-v-spacing $xs-h-spacing;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      @screen md {
        flex-direction: row;
      }

      @screen lg {
        margin-left: 45px;
      }

      li {
        border-bottom: 1px solid $logo-gray;

        @screen md {
          border: none;
        }
      }
    }
  }

  .logo {
    display: none;
    height: 100%;
    padding: 1.5em;
    padding-right: 45px;

    @screen lg {
      display: flex;
      align-items: center;

      img {
        max-height: 100%;
      }
    }
  }
}
