#privacy-policy {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: scroll;
  background-color: white;
  padding: $xs-h-spacing $xs-v-spacing;
  padding-top: 0;
  margin: 0;

  @screen lg {
    padding: 3rem;
    padding-top: 0;
    max-width: 1000px;
    max-height: 100%;
    bottom: 0;
    top: auto;
    left: auto;
    right: 0;
    left: auto;
  }

  .dialog-header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    background-color: white;
    padding-top: $xs-v-spacing;
    padding-bottom: $xs-h-spacing;
    margin-bottom: $xs-h-spacing;

    @screen lg {
      padding-top: 3rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }

    .close-dialog {
      font-size: 45px;
      line-height: 0;
      color: slategray;
      text-decoration: none;
    }
  }

  .close-dialog {
    float: right;
    color: slategray;
  }

  h2 {
    display: inline-block;
    font-family: $ff-brinnan-bold;
  }

  p {
    font-family: $ff-brinnan-light;
  }

  > .close-dialog {
    font-size: 1.25em;
    text-decoration: underline;

    @screen lg {
      display: none;
    }
  }
}
