@font-face {
  font-family: "AddingtonCF-DemiBoldItalic";
  src: url("../fonts/AddingtonCF-DemiBoldItalic.otf") format("opentype"),
    url("../fonts/AddingtonCF-DemiBoldItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Beliau";
  src: url("../fonts/Beliau.otf") format("opentype"),
    url("../fonts/Beliau.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brinnan-Bold";
  src: url("../fonts/Brinnan\ Bold.otf") format("opentype"),
    url("../fonts/Brinnan\ Bold.otf") format("truetype");
  font-weight: bold;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brinnan-Light";
  src: url("../fonts/Brinnan\ Light.otf") format("opentype"),
    url("../fonts/Brinnan\ Light.otf") format("truetype");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Brinnan-Regular";
  src: url("../fonts/Brinnan\ Regular.otf") format("opentype"),
    url("../fonts/Brinnan\ Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Winkell-SuperWide";
  src: url("../fonts/Winkell-SuperWide.otf") format("opentype"),
    url("../fonts/Winkell-SuperWide.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$ff-addington: "AddingtonCF-DemiBoldItalic", "Times New Roman", Times, serif;
$ff-beliau: "Beliau", "Times New Roman", Times, serif;
$ff-brinnan-bold: "Brinnan-Bold", Helvetica, Arial, sans-serif;
$ff-brinnan-light: "Brinnan-Light", Helvetica, Arial, sans-serif;
$ff-brinnan: "Brinnan-Regular", Helvetica, Arial, sans-serif;
$ff-winkell: "Winkell-SuperWide", Helvetica, Arial, sans-serif;

html {
  font-size: 16pt;
  font-family: $ff-brinnan-light;
}

h2 {
  font-family: $ff-winkell;
}
