$header-height: 135px;
$content-spacing: 36px;
$content-max-width: 1203px;

$xs-v-spacing: 45px;
$xs-h-spacing: 18px;

$md-v-spacing: 54px;
$md-h-spacing: 81px;

$lg-v-spacing: 98px;
$lg-h-spacing: 180px;
