@media (min-width: 9998px) {}

@media (max-width: 9998px) {
    .header-vertical-line {
        left: 25vw;
    }

    body {
        font-size: 6.2em;
        letter-spacing: 0.1em;
    }

    #header nav {
        position: absolute;
        left: 27vw;
        top: 58px;
        height: 3em;
        line-height: 3em;
        color: white;
    }

    .main.style2.left.dark.fullscreen .box p {
        text-align: left;
        width: 36%;
        color: #0b1b30;
        line-height: normal;
        letter-spacing: normal;
    }

    .logodown {
        display: block;
        position: relative;
        margin-bottom: 12%;
        margin-top: auto;
        margin-right: 0%;
        margin-left: 0%;
        width: 26%;
        padding: 1%;
    }

    .logo2down {
        position: relative;
        margin-bottom: 0%;
        margin-top: 2%;
        width: 24vw;
        margin-left: -4%;
    }



    .div-flex input[type="checkbox"] {
        appearance: none !important;
        margin-bottom: 0.7em;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #000;
        background-color: transparent;
        border-radius: 0;
        height: 3.5em;
        width: 3.5em;
        margin-top: 0.6em;
    }

    .div-flex {
        display: flex !important;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        margin-top: 1%;
        margin-bottom: 2%;
    }

    .lifestyle {
        font-size: 3.4em;
        font-family: 'AddingtonCF-DemiBoldItalic';
        line-height: 1em;
        margin-bottom: 1vh;
        margin-left: 0vw;
        margin-top: 0vh;
        width: 195px;
    }

    .logo-fifth {
        left: 25%;
        height: auto;
        width: 47%;
        position: relative;
    }


}

@media screen and (min-width: 2090px) and (max-width: 13440px) and (min-height: 1080px) {}

@media (max-width: 2740px) {
    .header-vertical-line {
        left: 23vw;
    }

}

@media (max-width: 1740px) {
    .vertical-line {
        left: 23vw;
    }

    .header-vertical-line {
        left: 23vw;
    }
}

@media (max-width: 1465px) {
    body {
        font-size: 2.2em;
        letter-spacing: 0.1em;
    }

    .logo-fifth {
        left: 46%;
        height: auto;
        width: 39%;
        position: relative;
    }
}


@media (max-width: 1319px) {
    .header-vertical-line {
        left: 34vw;
    }

    #header nav {
        left: 40.5vw;
    }

    #intro {
        background-position: 32%;
    }

    .vertical-line {
        left: 11vw;
        border-left: 1px solid #fff;
        height: 62%;
    }

    #footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: center;
        align-items: stretch;
        height: auto;
    }

    .side-l {
        width: 20%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        /* padding-top: 3%; */
        padding-left: 1%;
        justify-content: space-between;
    }

    .side-center {
        width: 41%;
        padding-bottom: 1em;
    }

    .side-center .bl-dow {
        display: flex;
        /* width: 70%; */
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .logo-fifth {
        left: 0%;
        height: auto;
        width: 62%;
    }

    .side-r {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 38%;
        flex-wrap: wrap;
    }

    .logodown {
        display: block;
        position: relative;
        margin-bottom: 1%;
        margin-top: auto;
        left: 38%;
    }

    .container-icons img {
        height: 5vh;
    }

    .logo-fifth {
        left: 46%;
        height: auto;
        width: 39%;
        position: relative;
    }


}


@media (max-width: 1165px) {
    .logo-fifth {
        left: 46%;
        height: auto;
        width: 39%;
        position: relative;
    }

    .header-vertical-line {
        left: 34vw;
    }

    #header nav {
        left: 40.5vw;
    }

    #intro {
        background-position: 32%;
    }

    .vertical-line {
        left: 11vw;
        border-left: 1px solid #fff;
        height: 62%;
    }

    #footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: center;
        align-items: stretch;
        height: auto;
    }

    .side-l {
        width: 20%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        /* padding-top: 3%; */
        padding-left: 1%;
        justify-content: space-between;
    }

    .side-center {
        width: 41%;
        padding-bottom: 1em;
    }

    .side-center .bl-dow {
        display: flex;
        /* width: 70%; */
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .logo-fifth {
        left: 0%;
        height: auto;
        width: 62%;
    }

    .side-r {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 38%;
        flex-wrap: wrap;
    }

    .logodown {
        display: block;
        position: relative;
        margin-bottom: 1%;
        margin-top: auto;
        left: 38%;
    }

    .container-icons img {
        height: 5vh;
    }


}




@media (max-width: 960px) {
    body {
        font-size: 1.3em;
        letter-spacing: 0.1em;
        line-height: normal;
    }

    .line-header {
        margin-top: 11vh;
    }

    #header nav {
        position: absolute;
        left: 20.5em;
        top: 0;
        height: 3em;
        line-height: 3em;
        color: white;
    }

    .vertical-line {
        left: 11vw;
        border-left: 1px solid #fff;
        height: 72%;
        margin-left: 5px;
        position: absolute;
        top: 0;
        color: white;
    }

    .vertical-line {
        left: 11vw;
        border-left: 1px solid #fff;
        height: 67%;
        margin-left: 5px;
        position: absolute;
        top: 0;
        color: white;
    }

    .main.style2.left.dark.fullscreen .box p {
        text-align: left;
        width: 59%;
    }

    .div-flex input[type="checkbox"] {
        height: 1.2em;
        width: 1.2em;
    }

    .box.style3 {
        margin-left: 7vw;
    }

    .left-half {
        background-position: 66% 25%;
    }

    #five {
        background-color: #e1cab7;
        background-size: cover;
        background-attachment: fixed, fixed;
        background-position: top left, center center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em;
        margin-top: 0%;
        justify-content: flex-end;
        align-content: center;
        flex-wrap: nowrap;
    }

    .title3-M {
        margin-left: 34%;
    }

    .map_image {
        width: 75vw
    }

    #footer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-end;
        justify-content: center;
        align-items: stretch;
        height: auto;
    }

    .side-l {
        width: 20%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        /* padding-top: 3%; */
        padding-left: 1%;
        justify-content: space-between;
    }

    .side-center {
        width: 41%;
        padding-bottom: 1em;
    }

    .side-center .bl-dow {
        display: flex;
        /* width: 70%; */
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .logo-fifth {
        left: 0%;
        height: auto;
        width: 62%;
    }

    .side-r {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 38%;
        flex-wrap: wrap;
    }

    .logodown {
        display: block;
        position: relative;
        margin-bottom: 1%;
        margin-top: auto;
        left: 38%;
    }

    .container-icons img {
        height: 5vh;
    }

    .logo-fifth {
        left: 46%;
        height: auto;
        width: 39%;
        position: relative;
    }


}

@media (max-width: 768px) {
    .header-vertical-line {
        left: 40vw;
    }

    .div-flex input[type="checkbox"] {
        height: 1.2em;
        width: 1.2em;
    }

}

@media (max-width: 740px) {
    .header-vertical-line {
        left: 30vw;
    }

}




@media (min-height: 601px) {
    body {
        font-size: 1.3em;
        letter-spacing: 0.1em;
        line-height: normal;
    }

    .line-header {
        margin-top: 11vh;
    }

    #header nav {
        position: absolute;
        left: 20.5em;
        top: 0;
        height: 3em;
        line-height: 3em;
        color: white;
    }

    .vertical-line {
        left: 11vw;
        border-left: 1px solid #fff;
        height: 72%;
        margin-left: 5px;
        position: absolute;
        top: 0;
        color: white;
    }

    .div-flex input[type="checkbox"] {
        appearance: none !important;
        margin-bottom: 0.7em;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #000;
        background-color: transparent;
        border-radius: 0;
        height: 1.2em;
        width: 1.2em;
        margin-top: 0.6em;
    }

}

@media (max-height: 600px) {
    .line-header {
        margin-top: 75px;
    }

    .header-vertical-line {
        height: 75PX;
    }

    .logo-pag2 {
        top: 92vh;
    }

}


@media (max-width: 767px) {
    #header nav {
        left: 40.5vw;
    }
}

@media (max-width: 640px) {


    body {
        padding: 0;

    }

    .header-vertical-line {
        display: none;
    }

    .logo {
        top: 0.1%;
        height: auto;
        position: fixed;
        right: 2%;
        width: 5% !important;
        min-width: 93px;
        padding: 4%;
    }

    .logo2 {
        padding: 2%;
        left: 10px;
        min-width: 204px;
        top: 9px;
    }

    .logo2down {
        position: relative;
        margin-bottom: 0%;
        margin-top: 25%;
        left: -15%;
    }



    .main.style1 h2 {
        font-size: 2em;
        margin-top: 12vh;
    }

    .lifestyle {
        font-size: 2.4em;
    }

    .content {
        width: 61% !important;
    }

    .parag1 {
        margin-bottom: 0vh;
        margin-top: 2vh;
        font-family: 'Brinnan-Light';
        font-weight: lighter;
        font-size: 1em;
    }

    .box.style2 {
        padding: 1.5em 1.25em 1.5em 1.25em;
        background-color: rgb(11 27 48);
        margin-right: 6vw;
        margin-left: 6vw;

    }

    .main.style2 {
        padding: 0 15px 0 15px;
    }

    .par-form {
        font-size: 0.78em;
    }

    .bottom-left {
        display: none;
    }

    .mainMobile {
        display: flex;
        position: relative;
        margin: 0;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
    }

    .box.style3 {
        top: 2vh;
        margin-left: 7vw;
    }

    .main.style2.left.dark.fullscreen .box p {
        text-align: left;
        width: 82%;
        color: #0b1b30;
    }

    .texttoggle {
        margin-top: 4vh;
        margin-left: 0%;
        font-size: 0.7em;


    }

    .t-mobile {

        padding: 2px;
    }

    .split-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .left-half {
        width: 100%;
        height: 51vh;
        background-position: 59%;
    }

    .right-half {
        padding-left: 2em;
        padding-top: 2em;
        width: 100%;
        padding-right: 2em;
    }

    .div-flex {
        display: flex !important;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .button {
        margin-right: 11%;
    }

    #four {
        height: 40vh !important;
        min-height: 20vh !important;
    }

    .bottom-half {
        padding: 80px;
    }

    .left-side {
        width: 90%;
        padding: 2em;
    }

    #five {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-side-bottom {
        flex-direction: column;
    }

    .map_image {
        width: 67vw;
        min-width: 260px;
        left: -9px;
    }

    .botton-map-mobile {
        left: 32px;

    }

    #six {
        height: 40vh !important;
        min-height: 20vh !important;
    }

    .Streetscape_image {
        height: 40vh;
        top: 48%;
        width: 100%;
        object-fit: cover;
    }

    .tree_frames {
        flex-direction: column;
        margin-left: 0;
    }

    .litle_frame {
        height: auto;
        width: 95%;
        padding: 1.2vw;
    }


    .text3 {
        bottom: 6%;
    }



    /* Estilos gerais do footer */
    #footer {
        display: flex;
        flex-wrap: nowrap;
        padding: 4px;
        background-color: #0b1b30;
        flex-direction: row;
        align-items: center;
        flex-direction: row;
    }

    #footer a {
        color: white;

    }

    .side-l {
        width: 28%;
        height: 16%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-between;
        align-items: flex-start;
        /* padding-top: 0%; */
        /* padding-left: 2%; */
        position: relative;
        top: 29%;
    }

    .side-center .bl-dow {
        margin-bottom: 109%;
        display: flex;
        width: 5%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }


    /* Estilos para o modal de política de privacidade */
    #privacy-modal2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .side-center {
        bottom: 0%;
        right: 14%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 18%;
        padding-bottom: 1em;
    }

    /* Estilos para o conteúdo do modal */
    #privacy-content {
        width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
    }


    .container-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    .container-icons img {
        height: 6vh;
        width: auto;
        padding-right: 0.12em;
        min-height: 36px;
    }

    .privacy {
        width: 100%;
        margin-bottom: 0em;

    }

    .side-r {
        padding: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 47%;
        flex-wrap: wrap;
        align-content: flex-start;
        position: relative;
        top: 3%;
    }

    .logo-fifth {
        left: 9%;
        height: auto;
        width: 3%;
        max-width: 200px;
        position: relative;
    }

    .menu-footer {
        display: none;
    }

    .logodown {
        display: none;
    }
}