@import "colors.module";
@import "fonts.module";

@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
  visibility: hidden;
}

body {
  background-color: $dark-blue;
  font-family: $ff-winkell;
  font-size: 18pt;
}

header {
  display: flex;
  columns: 2;
  flex-wrap: wrap;

  #brand-link {
    flex-basis: 80%;
  }

  #menu-toggler {
    margin: auto;
    width: 50px;

    .tham-inner {
      background-color: $logo-gray;
    }
  }

  #menu {
    flex-basis: 100%;
    display: none;
    color: $logo-gray;
    line-height: 2em;

    &.is-active {
      display: block;
    }

    ul {
      margin: 10px;

      li {
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}

section {
  padding: 48px 18px 48px 18px;
}

#cover {
  min-height: 100vh;
  background: fixed url(../img/cover.png) left no-repeat;

  h2 {
    font-size: 1.5em;
    color: $light-blue;
  }

  h3 {
    margin-top: -0.9em;
    margin-bottom: 0.5em;
    color: white;
    font-family: $ff-addington;
    font-size: 1.6em;

    span {
      font-size: 1.5em;
    }
  }

  p {
    margin-bottom: 20px;
    font-family: $ff-brinnan-light;
    color: white;
  }
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  font-family: $ff-brinnan-light;
  text-transform: uppercase;
  text-align: center;
  color: white;

  &:hover {
    background-color: #0b1b30c2;
  }

  &--blue {
    border-color: $dark-blue;
    background-color: $dark-blue;
  }

  &--green {
    border-color: $aging-green;
    background-color: $aging-green;
  }

  &--orange {
    border-color: $posh-orange;
    background-color: $posh-orange;
  }
}

.next-section {
  display: block;
  width: 1.5em;
  margin: 30px auto 0 auto;
}

#about {
  h2 {
    margin-bottom: 36px;
    color: $logo-gray;
  }

  p {
    margin: 24px 0;
    font-family: $ff-brinnan;
    color: white;
  }

  aside {
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.2;

    p {
      margin: 0;

      &:first-child {
        color: $pinkish-beige;
      }
    }

    img {
      max-height: 1.5em;
      margin-top: 1em;
    }
  }
}

#brand-values {
  background-color: $logo-gray;

  h2 {
    font-size: 1.9em;
    font-family: $ff-brinnan-bold;
    color: $light-blue;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 24px;

    span {
      font-family: $ff-brinnan;
      color: $dark-blue;
    }
  }

  h3 {
    margin-bottom: 24px;
    font-family: $ff-brinnan;
    color: $dark-blue;
  }

  details {
    border-bottom: 1px solid $dark-blue;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: $ff-brinnan;
    color: $dark-blue;

    &:first-of-type {
      border-top: 1px solid $dark-blue;
    }

    summary {
      display: flex;
      align-items: center;
      font-family: $ff-brinnan-bold;
      list-style: none;
      cursor: pointer;

      &::after {
        margin-left: auto;
        content: "+";
        font-size: 2em;
        font-family: $ff-brinnan-light;
      }
    }

    &[open] summary::after {
      content: "-";
    }
  }
}

#get-in-touch {
  max-width: 100vw;
  width: 100vw;
  height: 40vh;
  position: relative;
  left: calc(-50vw + 50%);
  background-attachment: scroll;
  background-image: url(../img/woman-with-dog.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact {
  background-color: $light-blue;
  font-family: $ff-brinnan-light;

  h2 {
    margin-bottom: 24px;
    font-family: $ff-brinnan-bold;
    color: $dark-blue;
    text-transform: uppercase;
  }
}

#contact-form {
  margin-top: 24px;

  > label {
    display: block;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select {
    display: block;
    width: 100%;
    background: none;
    border-bottom: 1px solid $dark-blue;
    margin-top: 12px;

    &:focus-visible {
      outline: none;
      border-bottom-width: 3px;
    }

    // Disable autofill background on Chrome
    // https://stackoverflow.com/a/68240841
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 1.2em;
    height: 1.2em;
    border: 2px solid $dark-blue;
    appearance: none;
    background-color: none;

    &:checked {
      background-color: $dark-blue;
    }
  }

  .checkbox-section {
    margin-top: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid $dark-blue;

    p {
      font-family: $ff-brinnan;
      margin-bottom: 12px;
    }

    label {
      display: inline-flex;
      align-items: center;
      gap: 0.3em;
      line-height: 1.5;
      vertical-align: middle;
      margin-right: 0.5em;
    }
  }

  button[type="submit"] {
    margin-top: 48px;
  }
}

#discover {
  h2 {
    margin-bottom: 48px;
    font-family: $ff-brinnan;
    color: white;
    text-align: center;
    text-transform: uppercase;

    span {
      color: $pinkish-beige;
    }
  }
}

#projects {
  background-color: $beach-sand;

  h3 {
    margin-top: 24px;
    margin-bottom: 24px;
    color: $posh-orange;
  }

  p {
    font-family: $ff-brinnan-light;
  }

  div:first-of-type {
    border-bottom: 1px solid $posh-orange;
    padding-bottom: 48px;
  }

  .development-map {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .development-mosaic {
    img {
      margin-top: 24px;
      margin-bottom: 24px;

      &:first-of-type {
        max-width: 100vw;
        width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
      }
    }
  }

  .life-in-focus {
    margin-bottom: 24px;
    color: $posh-orange;
    text-align: center;
    text-transform: uppercase;

    span {
      font-family: $ff-beliau;
      color: $dark-blue;
    }
  }
}

#finale {
  height: 100vh;
  background: local url(../img/cat.png) center;
  position: relative;

  div {
    position: absolute;
    bottom: 1em;
  }

  p {
    font-family: $ff-brinnan;
    text-transform: uppercase;
    color: white;

    &:first-of-type {
      color: $light-blue;
    }

    &:last-of-type {
      margin-left: 1em;
    }

    span {
      color: $pinkish-beige;
    }
  }
}
