<footer>
  <img src="img/logo.png" alt="Scale logo" class="logo" />
  <div class="container">
    <nav>
      <ul>
        <li><a href="#projects">Projects</a></li>
        <li><a href="rentals.html">Rentals</a></li>
        <li><a href="#about">About</a></li>
        <li>
          <a href="mailto:info@scalegroup.ca" target="_blank">Contact</a>
        </li>
      </ul>
    </nav>
    <div>
      <div class="social">
        <!-- FIXME: add URLs -->
        <a href="javascript:alert('TBD')">
          <img src="img/icon-fb.png" alt="Facebook icon" />
        </a>
        <a href="javascript:alert('TBD')">
          <img src="img/icon-ig.png" alt="Instagram icon" />
        </a>
        <a href="javascript:alert('TBD')">
          <img src="img/icon-yt.png" alt="YouTube icon" />
        </a>
      </div>
      <address>
        P.O BOX 61689 BROOKSWOOD<br />
        Langley, BC V3A 8C8<br />
        <a href="mailto:info@scalegroup.ca" target="_blank"
          >info@scalegroup.ca</a
        >
      </address>
    </div>
  </div>
  <div class="brand-container">
    <div class="scale-brand">
      <!-- FIXME: add URL -->
      <a href="/">
        <img src="img/brand.png" alt="Scale brand" />
      </a>
    </div>
    <!-- <div>
      <a href="https://fifthave.ca/">
        <img
          src="img/brand-fifth-avenue.png"
          alt="Fifth Avenue brand"
          class="fifth-ave-brand"
        />
      </a>
    </div> -->
    <div class="balance-is-a-lifestyle">
      <span>Balance</span> <span>is a</span> <span>lifestyle</span>
    </div>
    <div class="whitespace-nowrap">
      <span id="copyright">Copyright © 2023 Scale Projects</span>
      <a id="privacy-policy-link" href="javascript:void(0)">
        Privacy Policy
      </a>
    </div>
  </div>
  <dialog id="privacy-policy">
    <div class="dialog-header">
      <h2>Privacy Policy</h2>
      <button class="close-dialog" autofocus>×</button>
    </div>
    <p>
      In our continuing effort to improve and maintain the high standard of
      the Scale development, the developer reserves the right to modify or
      change plans, layouts, specifications, features, including appliances,
      and prices without notice. Materials may be substituted with
      equivalent or better at the developer's sole discretion. All
      dimensions and sizes are approximate and are based on architectural
      measurements. As reverse, flipped and/or mirrored plans occur
      throughout the development please see architectural plans for current
      unit layout, if material to your decision to purchase. Illustrations,
      renderings and marketing materials provided are an artist's conception
      and are intended as a general reference only, all subject to change
      without prior notice and not to be relied upon. Please ask one of the
      helpful sales staff to reference the current architectural set of
      construction drawings for the most accurate dimensions and other
      details at time of sale. E.&O.E. Sales & Marketing provided by Fifth
      Avenue Real Estate Marketing Ltd. 604-583-2212
    </p>
    <button class="close-dialog">close</button>
  </dialog>
</footer>
