<header>
  <a href="/" id="brand-link">
    <img src="img/brand.png" alt="Scale Projects brand" />
  </a>
  <nav id="menu">
    <ul>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="rentals.html">Rentals</a></li>
      <li><a href="/#about">About</a></li>
      <li>
        <a href="mailto:info@scalegroup.ca" target="_blank">Contact</a>
      </li>
    </ul>
  </nav>
  <button id="menu-toggler" class="tham tham-e-squeeze tham-w-8">
    <div class="tham-box">
      <div class="tham-inner"></div>
    </div>
  </button>
  <div class="logo">
    <img src="img/logo.png" alt="Scale logo" />
  </div>
</header>
